<template>
  <div class="home">
    <div class="form-box">
      
      <div class="form-box-inner">
        <Tabs v-model:active="active">
          <Tab title="宝宝取名">
            <Form>
              <Field name="radio" label="出生状态">
                <template #input>
                  <radio-group v-model="state.borned" direction="horizontal">
                    <radio name="1">已出生</radio>
                    <radio name="2">未出生</radio>
                  </radio-group>
                </template>
              </Field>
              <Field
                v-model="state.lastname"
                name="姓氏"
                label="姓氏"
                placeholder="请输入姓氏"></Field>
              <Field name="radio" label="性别">
                <template #input>
                  <radio-group v-model="testState.gender" direction="horizontal">
                    <radio name="1">男</radio>
                    <radio name="2">女</radio>
                  </radio-group>
                </template>
              </Field>
              <Field
                readonly
                clickable
                name="area"
                v-model="state.area"
                label="出生地"
                placeholder="请选择出生地"
                @click="state.showArea = true"
              />
              <Field
                readonly
                clickable
                name="calendar"
                v-model="state.date"
                label="出生时间"
                placeholder="请选择月份/年份"
                @click="state.showCalendar = true"
              />
              <Calendar v-model:show="state.showCalendar" @confirm="onCanConfirm" />
              <div class="btn-box">
                <button class="btn score-btn">{{active === 0 ? '立即获取美名' : '立即获取分数'}}</button>
              </div>
              <div class="tip-box">{{active === 0 ? '已有 129421 个宝宝获得吉名' : '已有 8237912 个名字参与测分'}}</div>
            </Form>
          </Tab>
          <Tab title="名字测分">
            <Form>
              <Field
                v-model="testState.lastname"
                name="姓氏"
                label="姓氏"
                placeholder="请输入姓氏"></Field>
              <Field
                v-model="testState.firstname"
                name="名字"
                label="名字"
                placeholder="请输入名字"></Field>
              <Field name="radio" label="性别">
                <template #input>
                  <radio-group v-model="testState.gender" direction="horizontal">
                    <radio name="1">男</radio>
                    <radio name="2">女</radio>
                  </radio-group>
                </template>
              </Field>
              <div class="btn-box">
                <button class="btn score-btn">立即获取分数</button>
              </div>
              <div class="tip-box">已有 8237912 个名字参与测分</div>
            </Form>
          </Tab>
        </Tabs>
      </div>
    </div>
    <Popup v-model:show="state.showArea" position="bottom">
      <Area
        :area-list="areaList"
        @confirm="onConfirm"
        @cancel="state.showArea = false"
      />
    </Popup>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive } from 'vue';
import { Tab, Tabs, Form, Field, RadioGroup, Radio, Popup, Area, Calendar } from 'vant';
import areaList from '../utils/area.js'

export default defineComponent({
  name: 'Home',
  components: {
    Tab,
    Tabs,
    Form,
    Field,
    RadioGroup,
    Radio,
    Popup,
    Area,
    Calendar
  },
  setup() {
    const state = reactive({
      borned: '1',
      lastname: '',
      gender: '1',
      area: '',
      date: '',
      showArea: false,
      showCalendar: false
    })
    const testState = reactive({
      lastname: '',
      firstname: '',
      gender: '1'
    })
    const active = ref(0);
    const onConfirm = (values: any) => {
      state.showArea = false
      state.area = values
        .filter((item: any) => !!item)
        .map((item: any) => item.name)
        .join('/')
    }
    const onCanConfirm = (date: Date) => {
      state.date = `${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()}`
      state.showCalendar = false
    }
    return {
      active,
      state,
      testState,
      areaList,
      onConfirm,
      onCanConfirm
    }
  }
});
</script>

<style lang="less">
@red: #FA5050;
.home {
  padding-top: 1.77rem;
  background-image: url('../assets/header.png');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
}
.form-box {
  // padding: 0 0.12rem;
  width: 3.60rem;
  margin: 0 auto;
  max-width: 540px;
  background-size: 100% auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url('../assets/bg_bottom.png');
  .form-box-inner {
    padding: 0.16rem 0.24rem 0.26rem;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../assets/bg_top.png');
  }
}
.btn-box {
  width: 100%;
  text-align: center;
  margin-top: 0.16rem;
}
.btn {
  width: (303% / 343 * 100);
  height: 0.44rem;
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
.score-btn {
  background-image: url('../assets/score-btn.png');
}
.tip-box {
  color: @red;
  text-align: center;
  font-size: 11px;
  margin-top: 0.14rem;
}
.home .van-field__label {
  text-align: justify;
  text-align-last: justify;
  margin-right: 0.17rem;
  width: 0.56rem;
}
.home {
  .van-tab--active {
    color: @red;
  }
  .van-tabs__line {
    background-color: @red;
  }
  .van-radio__icon--checked .van-icon {
    background-color: @red;
    border-color: @red;
  }
}
</style>
